development:
  username: #username
  password: #password
  adapter: mysql2
  encoding: utf8
  database: fc_crafts_development
  pool: 5
  timeout: 5000

test: &test
  username: #username
  password: #password
  adapter: mysql2
  encoding: utf8
  database: fc_crafts_test
  pool: 5
  timeout: 5000